body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

header {
  margin-top: 3rem;
  text-align: center;
}

header img {
  max-width: 20rem;
}

header img:nth-child(2) {
  max-width: 30rem;
}

#colorPickerContainer {
  margin-top: 2rem;
  position: absolute;
  z-index: 1;
  font-weight: 900;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
}

#colorPickerContainer label {
  margin-bottom: 1rem;
}


.custom-spectrum-container .sp-picker-container {
  width: 422px;
}

.custom-spectrum-replacer {
  width: 320px;
  height: 60px;
}

.custom-spectrum-replacer .sp-preview {
  width: 300px;
  height: 60px;
} 


#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;

}

#auth_prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 2rem;
}

#auth_prod h2 {
  color: #b400da;
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#auth_prod img {
  max-width: 7rem;
}